In [ ]:

#패션의류        '속옷/양말/홈웨어' , '남성의류', '여성의류  , '패션잡화',
#스포츠/레저         '스포츠패션' , '헬스/피트니스' , '시즌스포츠', '아웃도어/레저', '구기/필드스포츠', '자동차용품'
#화장품/뷰티    '화장품/뷰티케어', '퍼스널케어',

#식품        '건강식품', '과일', '냉장식품', '축산물', '냉동식품', '음료',
#유아동         '출산/육아용품', '유아동의류', '완구',

#주방/생활/건강    '주방잡화',  '식기/조리기구', '문구/사무용품', '세제/위생', '청소/세탁/욕실용품',

#가구/침구/인테리어        '침구/수예', '가구', '인테리어/조명',
#가전/디지털    '영상/음향가전',  '계절가전', '컴퓨터', '냉장/세탁가전', '모바일', '생활/주방가전',
#반려동물        '원예/애완',
#여행/서비스/금융   '상품권',

* 네이버 기준
패션의류
패션잡화
화장품/미용
디지털/가전
가구/인테리어
출산/육아
식품
스포츠/레저
생활/건강
여행/문화
면세점

* 대분류 기준 -> 네이버 데이터랩 
패션의류 - > 패션의류 + 패션잡화 ㅇ
스포츠/레저 - > 스포츠/레저 ㅇ
화장품/뷰티 -> 화장품/미용 ㅇ    -------------> baseline
식품 -> 식품 ㅇ
유아동 -> 출산/육아 ㅇ
주방/생활/건강 -> 생활/건강(-반려동물,  ㅇ
가구/침구/인테리어 -> 가구/인테리어 ㅇ
가전/디지털 -> 디지털/가전 ㅇ
반려동물 -> 생활/건강(반려동물) ㅇ
여행/서비스/금융 -> 여행/문화

In [1]:
import pandas as pd
import numpy as np

In [7]:
df1 = pd.read_csv('C:/Users/wjssm/Desktop/lpoint/data/naver/d1.csv')
df2 = pd.read_csv('C:/Users/wjssm/Desktop/lpoint/data/naver/d2.csv')
df3 = pd.read_csv('C:/Users/wjssm/Desktop/lpoint/data/naver/d3.csv')
df4 = pd.read_csv('C:/Users/wjssm/Desktop/lpoint/data/naver/d4.csv')
df5 = pd.read_csv('C:/Users/wjssm/Desktop/lpoint/data/naver/d5.csv')
df6 = pd.read_csv('C:/Users/wjssm/Desktop/lpoint/data/naver/d6.csv')

In [8]:
df1.head()

           날짜  화장품/미용  출산/육아  반려동물
0  2018-04-01      44     71     7
1  2018-04-02      44     75     7
2  2018-04-03      44     74     7
3  2018-04-04      44     74     7
4  2018-04-05      41     73     7

In [9]:
df2.head()

           날짜  화장품/미용  생활/건강  반려동물
0  2018-04-01      30     82     5
1  2018-04-02      30     91     5
2  2018-04-03      30     89     5
3  2018-04-04      29     91     5
4  2018-04-05      28     88     5

In [ ]:
df2.loc[:,['']]

In [12]:
pd.concat([df1, df2], axis=1)

             날짜  화장품/미용  출산/육아  반려동물          날짜  화장품/미용  생활/건강  반려동물
0    2018-04-01      44     71     7  2018-04-01      30     82     5
1    2018-04-02      44     75     7  2018-04-02      30     91     5
2    2018-04-03      44     74     7  2018-04-03      30     89     5
3    2018-04-04      44     74     7  2018-04-04      29     91     5
4    2018-04-05      41     73     7  2018-04-05      28     88     5
5    2018-04-06      36     63     6  2018-04-06      25     79     4
6    2018-04-07      35     59     5  2018-04-07      24     70     4
7    2018-04-08      41     65     6  2018-04-08      28     79     4
8    2018-04-09      45     72     7  2018-04-09      30     92     5
9    2018-04-10      45     71     7  2018-04-10      31     90     5
10   2018-04-11      46     73     7  2018-04-11      31     91     5
11   2018-04-12      45     68     7  2018-04-12      30     85     4
12   2018-04-13      40     61     6  2018-04-13      27     76     4
13   2018-04-14      40     63     6  2018-04-14      27     74     4
14   2018-04-15      44     69     6  2018-04-15      30     81     4
15   2018-04-16      47     77     7  2018-04-16      32     94     5
16   2018-04-17      44     76     7  2018-04-17      30     91     5
17   2018-04-18      45     75     7  2018-04-18      30     91     5
18   2018-04-19      42     71     7  2018-04-19      29     87     4
19   2018-04-20      38     66     6  2018-04-20      26     80     4
20   2018-04-21      35     63     5  2018-04-21      24     70     4
21   2018-04-22      44     77     7  2018-04-22      29     84     5
22   2018-04-23      46     90     8  2018-04-23      31    100     5
23   2018-04-24      43     82     7  2018-04-24      29     93     5
24   2018-04-25      43     78     7  2018-04-25      29     86     5
25   2018-04-26      42     78     6  2018-04-26      28     85     4
26   2018-04-27      36     69     6  2018-04-27      25     72     4
27   2018-04-28      35     71     5  2018-04-28      24     67     3
28   2018-04-29      40     84     6  2018-04-29      27     77     4
29   2018-04-30      42     93     7  2018-04-30      28     88     5
..          ...     ...    ...   ...         ...     ...    ...   ...
153  2018-09-01      40     53     7  2018-09-01      27     67     4
154  2018-09-02      44     60     7  2018-09-02      30     75     5
155  2018-09-03      48     70     9  2018-09-03      32     93     6
156  2018-09-04      48     66     8  2018-09-04      32     90     6
157  2018-09-05      47     66     8  2018-09-05      32     88     5
158  2018-09-06      45     63     8  2018-09-06      30     85     5
159  2018-09-07      40     57     7  2018-09-07      27     77     5
160  2018-09-08      38     54     6  2018-09-08      25     66     4
161  2018-09-09      44     63     7  2018-09-09      30     75     5
162  2018-09-10      48     71     8  2018-09-10      33     90     6
163  2018-09-11      48     70     8  2018-09-11      32     88     6
164  2018-09-12      47     67     8  2018-09-12      32     87     5
165  2018-09-13      44     64     8  2018-09-13      30     82     5
166  2018-09-14      41     58     7  2018-09-14      28     75     5
167  2018-09-15      39     57     6  2018-09-15      27     66     4
168  2018-09-16      44     65     7  2018-09-16      30     76     5
169  2018-09-17      47     69     8  2018-09-17      32     87     6
170  2018-09-18      44     63     8  2018-09-18      30     79     5
171  2018-09-19      41     57     7  2018-09-19      27     73     5
172  2018-09-20      37     49     6  2018-09-20      25     67     4
173  2018-09-21      31     42     5  2018-09-21      21     57     3
174  2018-09-22      29     41     5  2018-09-22      20     50     3
175  2018-09-23      29     36     5  2018-09-23      19     48     3
176  2018-09-24      30     37     5  2018-09-24      20     48     3
177  2018-09-25      37     52     6  2018-09-25      25     60     4
178  2018-09-26      48     68     8  2018-09-26      33     78     5
179  2018-09-27      51     73     9  2018-09-27      34     90     6
180  2018-09-28      44     66     8  2018-09-28      30     80     5
181  2018-09-29      41     62     7  2018-09-29      28     71     5
182  2018-09-30      47     68     8  2018-09-30      32     77     5

[183 rows x 8 columns]